@let vm = view();
<section
  class="query-section"
  [attr.aria-labelledby]="vm.sortFieldsId + '-filters-title'"
>
  <div class="query-section-header">
    <h3 [id]="vm.sortFieldsId + '-filters-title'">
      {{ "Filters" | localize }}
    </h3>
    <button
      pButton
      severity="secondary"
      size="small"
      type="button"
      [outlined]="true"
      (click)="vm.addFilter()"
    >
      <i aria-hidden="true" class="pi pi-plus"></i>{{ "Add filter" | localize }}
    </button>
  </div>
  @if (!vm.filters.length) {
    <p class="query-empty">
      {{ "Add a condition to narrow the results." | localize }}
    </p>
  }
  @for (filter of vm.filters; track $index; let index = $index) {
    <div class="filter-row">
      <app-control-field
        label="Field"
        [controlId]="vm.sortFieldsId + '-field-' + index"
        ><app-select-control
          [inputId]="vm.sortFieldsId + '-field-' + index"
          [name]="'field' + index"
          [(ngModel)]="filter.field"
          (ngModelChange)="
            filter.operation = 'equal'; filter.value = ''; filter.end = ''
          "
        >
          @for (field of vm.fields(); track field.key) {
            <option [value]="field.key">
              {{ field.label | localize }}
            </option>
          }
        </app-select-control></app-control-field
      >
      <app-control-field
        label="Operation"
        [controlId]="vm.sortFieldsId + '-operation-' + index"
        ><app-select-control
          [attr.data-query-operation]="index"
          [inputId]="vm.sortFieldsId + '-operation-' + index"
          [name]="'operator' + index"
          [(ngModel)]="filter.operation"
        >
          @for (operation of vm.operations(filter.field); track operation) {
            <option [value]="operation">
              {{ vm.operators[operation] | localize }}
            </option>
          }
        </app-select-control></app-control-field
      >
      @if (filter.operation !== "isNull" && filter.operation !== "isNotNull") {
        <div
          class="filter-values"
          [class.range-values]="filter.operation === 'between'"
        >
          <app-control-field
            label="Value"
            [controlId]="vm.sortFieldsId + '-value-' + index"
            [error]="vm.filterErrors[index] || ''"
          >
            @if (filter.operation === "in" || filter.operation === "nin") {
              <app-list-values
                [controlId]="vm.sortFieldsId + '-value-' + index"
                [disabled]="vm.busy()"
                [type]="vm.fieldType(filter.field)"
                [(value)]="filter.value"
              />
            } @else if (vm.fieldType(filter.field) === "boolean") {
              <app-select-control
                [attr.data-query-value]="index"
                [inputId]="vm.sortFieldsId + '-value-' + index"
                [name]="'value' + index"
                [(ngModel)]="filter.value"
              >
                <option value="">
                  {{ "Choose a value" | localize }}
                </option>
                <option value="true">{{ "Yes" | localize }}</option>
                <option value="false">{{ "No" | localize }}</option>
              </app-select-control>
            } @else {
              <input
                pInputText
                [attr.data-query-value]="index"
                [id]="vm.sortFieldsId + '-value-' + index"
                [name]="'value' + index"
                [type]="
                  vm.fieldType(filter.field) === 'date'
                    ? 'date'
                    : vm.fieldType(filter.field) === 'number'
                      ? 'number'
                      : 'text'
                "
                [(ngModel)]="filter.value"
              />
            }
          </app-control-field>
          @if (filter.operation === "between") {
            <app-control-field
              label="To"
              [controlId]="vm.sortFieldsId + '-end-' + index"
              ><input
                pInputText
                [id]="vm.sortFieldsId + '-end-' + index"
                [name]="'end' + index"
                [type]="
                  vm.fieldType(filter.field) === 'date'
                    ? 'date'
                    : vm.fieldType(filter.field) === 'number'
                      ? 'number'
                      : 'text'
                "
                [(ngModel)]="filter.end"
            /></app-control-field>
          }
        </div>
      } @else {
        <div></div>
      }
      <button
        class="remove-control"
        pButton
        severity="secondary"
        type="button"
        [attr.aria-label]="('Remove filter' | localize) + ' ' + (index + 1)"
        [text]="true"
        (click)="
          vm.filters = vm.filters
            .slice(0, index)
            .concat(vm.filters.slice(index + 1))
        "
      >
        <i aria-hidden="true" class="pi pi-times"></i>
      </button>
    </div>
  }
</section>
